# Dependencies
node_modules/

# Build output
build/
dist/
release/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# macOS
.DS_Store

# Editor
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
